@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Sedgwick+Ave+Display');

:where(svg, i) {
    /*margin-top: calc(0.5rem + 1.375rem) !important;*/
    margin: auto;
    padding-top: 25px;
}
/* Start Access Denied */

:root {
    --font-display: 'Sedgwick Ave Display';
    --font-sans-serif: 'IBM Plex Mono';
    --box-shadow: 0px 21px 34px 0px rgba(0, 0, 0, 0.89);
    --color-bg: linear-gradient(to bottom, rgba(35,37,38,1) 0%,rgba(32,38,40,1) 100%);
    --scene-width: 400px;
    --scene-height: 400px;
    --delay-base: 500ms;
    --delay-added: 100ms;
    --acc-back: cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

*,
*:before,
*:after{
    box-sizing:border-box;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}
.bg {
    background-color: var(--color-bg);
}
body{
    height: 100vh;
}
/* Start Login */
.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-page {
    display: flex;
    width: 900px;
    position: relative;
    min-height: 600px;
}
.hint {
    background-color: var(--bg-black-100);
    font-size: 13px;
    margin-right: 11px;
    border-radius: 5px;
    color: var(--text-black-700);
    cursor: pointer;
    transition: transform .3s ease-in-out;
}
.hint:hover {
    transform: scale(1.6);
}
.hint p {

}
figure {
    margin: 0;
}
@media (max-width: 967px) {
    .main {
        margin: 20px;
    }
    .container-page {
        flex-direction: column-reverse;
        margin: 8px;
    }
    .form {
        margin-top: 10px;
        width: auto;
    }
    .hint:hover {
        transform: scale(1);
    }
}
@media (max-width: 467px) {
    .layout {
        overflow: hidden;
        flex-direction: column;
    }
    .form form {
        padding: 10px;
        margin: 5px;
    }
    .hint {
        width: 100% !important;
    }
    .hint:hover {
        transform: scale(1);
    }
}

.container-page .part {

}
.container-page .form {
    background-color: var(--bg-black-60);
    min-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.container-page .form form {
    flex: 2;
    width: 100%;
    padding: 10px;
    margin-top: 40px;
}
.container-page .description-section {
    min-height: 100px;
    background-color: var(--bg-black-60);
    box-shadow: 1px 1px 5px;
}
.container-page .part p {
    padding: 0 10px;
    text-align: left;
}
.quotes {
    overflow-y: scroll;
    height: 100%;
}
.quote p {
    margin-top: 10px;
}
.quote p::first-letter {
    color: var(--bg-black-100);
    font-size: 25px;
    font-weight: bold;
}
.quote h4 {
    text-align: center;
    color: var(--bg-black-100);
    font-weight: bold;
    font-size: 24px;
}
form div svg,
form div i {
    margin-left: 0 !important;
    margin-right: 10px !important;
}
/* End Login */
/* Start Access Denied */
.hit-the-floor {
    color: #fff;
    font-size: 12em;
    font-weight: bold;
    font-family: Helvetica, serif;
    text-shadow:
            0 1px 0 #ccc,
            0 2px 0 #c9c9c9,
            0 3px 0 #bbb,
            0 4px 0 #b9b9b9,
            0 5px 0 #aaa,
            0 6px 1px rgba(0,0,0,.1),
            0 0 5px rgba(0,0,0,.1),
            0 1px 3px rgba(0,0,0,.3),
            0 3px 5px rgba(0,0,0,.2),
            0 5px 10px rgba(0,0,0,.25),
            0 10px 10px rgba(0,0,0,.2),
            0 20px 20px rgba(0,0,0,.15);
}

.hit-the-floor {
    text-align: center;
}
/* End Access Denied */